<H2>Upcoming events in your area:</H2>
<ul>
  <% @events.each do |event| %>
  <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
</ul>
<br>
Your location is set to: <%= @city %>, click here to change it.